@model IEnumerable<grade_tracker.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>List of subjects</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">
            <i class="bi bi-clipboard2-plus-fill"></i>
            Add new subject
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="entity-buttons">
                            <a asp-action="Edit" asp-route-id="@item.SubjectId">
                                <button type="button" class="btn btn-primary">
                                    <i class="bi bi-pencil-fill"></i>
                                    Edit
                                </button>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.SubjectId">
                                <button type="button" class="btn btn-primary">
                                    <i class="bi bi-list-stars"></i>
                                    View details
                                </button>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.SubjectId">
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i>
                                    Delete
                                </button>
                            </a>
                        </td>
        </tr>
}
    </tbody>
</table>
